    <table style="width: 100%" border="1">
      <tr>
        <td>
          <strong>Targets</strong>
        </td>

        <td>
          <a href="/square/new">
            Square with Form
          </a>
        </td>

        <td>
          <a href="/square_root/new">
            Square Root with Form
          </a>
        </td>

        <td>
          <a href="/payment/new">
            Payment with Form
          </a>
        </td>

        <td>
          <a href="/random/new">
            Random with Form
          </a>
        </td>
      </tr>
    </table>
    <form action="/square_root/results">
  <div>
    <label for="number_input">
      Enter a number
    </label>

    <input id="number_input" text="text" name="user_number" placeholder="What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>
</form>